* {
    transition: all 0.2s ease;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    background-color: #e8ebee;
}

/* .option */
.modal {
    min-width: 40% !important;
    min-height: 60vh !important;*/
    padding: 0 !important;
}
/* border-canvas */
.site-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.top-bar {
    background-color: #212529;
    padding: 10px 10px;
    height: 56px;
}

.top-bar-actions {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-actions .v1 , .top-bar-actions .v3{
    width: max-content;
    padding:4px 16px;
    border-radius: 12px;
    margin :0 6px;
    outline: none;
    font-weight: 500;
    border : none;
}

.heading {
    font-size: 2rem;
    color: white;
    font-family : 'Ubuntu' , sans-serif;
    font-weight: 600;
}

.work-area-section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.tool-bar-container {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 56px;
    width: max-content;
    height:100%;
    padding: 0;
    background-color: #313334;
}

.tool-bar {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-color: white;  
    padding:0; 
    margin:auto;
    position: relative;
    background-color: #313334;
}


.tool-bar-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding:10px 10px;
    cursor: pointer;
    font-size: 0.6rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: all 10ms ease;
    color: white;
}


.tool-bar-item:hover {
    background-color: white;
    text-decoration: none;
    color: black;
}

.tool-bar-item i {
    margin:4px 0px;
    font-size: 1.6rem;
}


.side-flex {
    width: 360px;
    position: absolute;
    right: -360px;
    top: 0;
    bottom: 0;
   /* height: 200px;*/
    background-color: white;    
}

.side-bar {
    padding: 0;
    position: fixed;
    float: left;
    top: 56px;
    height: 100%;
    min-width: 80px;
    display: flex;
    flex-direction: row;
}

/*.container-tool*/

/* edit-area */

.step-options-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.step-options-item {
    min-height: 50px;
    min-width: 50px:
    padding : 5px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.step-options-item h3 {
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
    margin: 0;
    padding: 0 6px; 
    text-transform: capitalize;
    width: 100%;
    text-align: center;
}




.image-input-container {
    max-width: 160px;
    height: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #17adc1;
    margin:auto;
    background-color: white;
    color: #17adc1;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
    padding: 0;
    margin-right:auto;
    margin-left: auto;
    font-weight: 600;
    margin-top: 20px;
}

.image-input-container i {
    margin-right: 10px;
}

.image-input-container:hover {
    opacity: 0.8;
}

.image-input-container input {
    cursor: pointer;
    width: 100%;
    display: block;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.input-container {
    max-width: 160px;
    height: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #17adc1;
    margin:auto;
    background-color: white;
    color: #17adc1;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
    padding: 0;
    margin-right:auto;
    margin-left: auto;
    font-weight: 600;
    margin-top: 20px;
}

.input-container i {
    margin-right: 10px;
}

.input-container:hover {
    opacity: 0.8;
}


.draggable-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.draggable-container div {
    width: 100px;
    height: max-content;
    margin : 10px;
    display: block;
    position: relative;
}

.draggable-container div img {
    width: 100px;
    height: 100px;
    display: block;
    border: 1px solid black;
    border-radius: 6px;
}

.draggable-container div a {
    text-decoration: none;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 6px;
    left: 6px;
    color: #17adc1;
}

.option-contents {
    width: 100%;
    height: max-content;
    background-color: white;
    padding: 0;
    display: none;
}

.option-contents h1 {
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
}

.container-grid {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 200px 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.main-play-area {
    display: block;
    margin: auto;
    width: max-content;
    height: max-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

}

.canvas-preview {
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 20px;
    background-color: transparent;
}

.main-container {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: relative;
    transition: all 200ms ease;
    -webkit-box-shadow: -1px -1px 74px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 74px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 74px 0px rgba(0,0,0,0.75);
}

.main-canvas , .border-canvas {
    width: 100% !important;
    height: 100% !important;
}

.border-canvas-container  {
    position: absolute !important;
    padding: 0;
    margin: 0;
    background-color: white;
    background-size: 100% 100%;
    border: 0.3px gray solid;
    opacity:0.7;
}

.border-canvas-container {
    position: absolute !important;
    padding: 0;
    margin: 0;
}



/*Dont nfjvnj*/
.product-model-tab {
    width: 100%;
    height: 100%;
    padding: 0;
    margin : 0;
    display: flex;
    flex-direction: column;
}

.product-tab-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid black;
}

.product-tab-bar li {
    min-width: 100px;
    padding: 10px ;
    cursor: pointer;
    text-align: center;
}

.product-tab-bar li:hover {
    background-color: gray;
}


.product-list {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    list-style: none;
    padding:10px;
}


.product-list li {
    width: 100%;
    height: 100px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border : 1px solid gray;
}

.product-list li:hover {
    background-color: gray;
}



.generic-canvas-container {
    position: absolute;
    padding: 0;
    margin: 0;
}




.tool-box {
	height:max-content;
	position:absolute;
	align-self:center;
	display:block;
	left : 0;
	right : 0;
}

.tool-wrapper {
	display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items:center;
	width:max-content;
	margin:auto;
    padding:0px;
	background-color:#1e3d58;
}


.tool {
	padding:12px 6px;
	text-decoration:none;
	/*background-color:#6d6f73;*/
    background-color:white;
	color:#17adc1;
	font-size:1.2rem;
	/*border-radius:6px;*/
	outline:none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tool span {
    font-size: 9px;
    margin-top: 3px;
    text-transform: uppercase;
}

.tool:hover {
	opacity:0.8;
}

.tool:active {
	outline:none;
}

.container-tool {
    position: absolute;
    bottom: 0;
    width: max-content;
    height: max-content;
    right: -220px;
}

.indicator {
    display: block;
    box-sizing: content-box;
    border-left: 0.5px gray solid;
    border-bottom: 0.5px gray solid;
    position: absolute;
    z-index: 10;
}

.ind-t {
    top:-1px;
    left: 0;
    right: 0;
}

.ind-r {
    top: 0;
    bottom: 0;
    right: -1px;
}

.ind-b {
    bottom:-1px;
    left: 0;
    right: 0;
}

.ind-l {
    top: 0;
    bottom: 0;
    left: -1px;
}

.sh {
   -webkit-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.75);
box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.75);
}

/*
#color-picker {
    opacity: 1;
    width: 100%;
    height: 100%;
    display: block;
}

*/

.instructions-3d {
    position: absolute;
    bottom: 10px;
    right: 20px;
    max-width: 400px;
    height: max-content;
    list-style: none;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.instructions-3d li {
    width: 100%;
    padding: 10px;
}


/* JPicker */
.jPicker .Icon{display:inline-block;height:24px;position:relative;text-align:left;width:25px}.jPicker .Icon span.Color,.jPicker .Icon span.Alpha{background-position:2px 2px;display:block;height:100%;left:0;position:absolute;top:0;width:100%}.jPicker .Icon span.Image{background-repeat:no-repeat;cursor:pointer;display:block;height:100%;left:0;position:absolute;top:0;width:100%}.jPicker.Container{color:#000;z-index:10}table.jPicker{background-color:#efefef;border:1px outset #666;font-family:Arial,Helvetica,Sans-Serif;font-size:12px!important;margin:0;padding:5px;width:545px;z-index:20}.jPicker .Move{background-color:#ddd;border-color:#fff #666 #666 #fff;border-style:solid;border-width:1px;cursor:move;height:12px;padding:0}.jPicker .Title{font-size:11px!important;font-weight:bold;margin:-2px 0 0 0;padding:10px 0 0 0;text-align:center;width:100%}.jPicker div.Map{border-bottom:2px solid #fff;border-left:2px solid #9a9a9a;border-right:2px solid #fff;border-top:2px solid #9a9a9a;cursor:crosshair;height:260px;margin:0 10px 10px 10px;overflow:hidden;padding:0;position:relative;width:260px}.jPicker div[class="Map"]{height:256px;width:256px}.jPicker div.Bar{border-bottom:2px solid #fff;border-left:2px solid #9a9a9a;border-right:2px solid #fff;border-top:2px solid #9a9a9a;cursor:n-resize;height:260px;margin:12px 10px 0 5px;overflow:hidden;padding:0;position:relative;width:24px}.jPicker div[class="Bar"]{height:256px;width:20px}.jPicker .Map .Map1,.jPicker .Map .Map2,.jPicker .Map .Map3,.jPicker .Bar .Map1,.jPicker .Bar .Map2,.jPicker .Bar .Map3,.jPicker .Bar .Map4,.jPicker .Bar .Map5,.jPicker .Bar .Map6{background-color:transparent;background-image:none;display:block;left:0;position:absolute;top:0}.jPicker .Map .Map1,.jPicker .Map .Map2,.jPicker .Map .Map3{height:2596px;width:256px}.jPicker .Bar .Map1,.jPicker .Bar .Map2,.jPicker .Bar .Map3,.jPicker .Bar .Map4{height:3896px;width:20px}.jPicker .Bar .Map5,.jPicker .Bar .Map6{height:256px;width:20px}.jPicker .Map .Map1,.jPicker .Map .Map2,.jPicker .Bar .Map6{background-repeat:no-repeat}.jPicker .Map .Map3,.jPicker .Bar .Map5{background-repeat:repeat}.jPicker .Bar .Map1,.jPicker .Bar .Map2,.jPicker .Bar .Map3,.jPicker .Bar .Map4{background-repeat:repeat-x}.jPicker .Map .Arrow{display:block;position:absolute}.jPicker .Bar .Arrow{display:block;left:0;position:absolute}.jPicker .Preview{font-size:9px;padding:5px 0 0 0;text-align:center}.jPicker .Preview div{border:2px inset #eee;height:62px;margin:0 auto;padding:0;width:62px}.jPicker .Preview div span{border:1px solid #000;display:block;height:30px;margin:0 auto;padding:0;width:60px}.jPicker .Preview .Active{border-bottom-width:0}.jPicker .Preview .Current{border-top-width:0;cursor:pointer}.jPicker input{font-size:13px}.jPicker .Button{text-align:center;padding:0 4px;width:115px}.jPicker .Button input{padding:2px 0;width:100px}.jPicker .Button .Ok{margin:12px 0 5px 0}.jPicker td{margin:0;padding:0}.jPicker td.Radio{margin:0;padding:0;width:31px}.jPicker td.Radio input{margin:0 5px 0 0;padding:0}.jPicker td.Text{font-size:12px!important;height:22px;margin:0;padding:0;text-align:left;width:70px}.jPicker tr.Hex td.Text{width:100px}.jPicker td.Text input{background-color:#fff;border:1px inset #aaa;height:19px;margin:0 0 0 5px;text-align:left;width:30px}.jPicker td[class="Text"] input{height:15px}.jPicker tr.Hex td.Text input.Hex{width:50px}.jPicker tr.Hex td.Text input.AHex{width:20px}.jPicker .Grid{text-align:center;width:114px}.jPicker .Grid span.QuickColor{border:1px inset #aaa;cursor:pointer;display:inline-block;height:15px;line-height:15px;margin:0;padding:0;width:19px}.jPicker .Grid span[class="QuickColor"]{width:17px}