* {
	box-sizing: border-box;
	transition: all 300ms ease;
	font-family: 'Ubuntu' , sans-serif;
}

a {
	text-decoration: none;
	color: black;
	display: block;
}

body {
	margin: 0;
	padding: 0;
	background-color: #e8ebee;
}

.app-container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}


.app-wrapper {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: block;
}

.full-display-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width : 100%;
	height: 100%;
	background-color: black;
	z-index: 69;
	opacity: 0.5;
	display: none;
}


/* Nav Bar */
.nav-drawer {
	z-index: 100;
	min-width: 300px;
	height: 100%;
	padding: 0;
	position: fixed;
	top: 0;
	left : -500px;
	bottom: 0;
	display: block;
	background-color: #ffffff;
	-webkit-box-shadow: 4px 2px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 2px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 2px 10px 0px rgba(0,0,0,0.75);
}

.nav-drawer-open {
	left: 0 !important;
}

.nav-container {
	width: 100%;
	padding: 10px;
	margin: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}


.nav-container h1 {
	font-family: 'Ubuntu' , sans-serif;
}

.nav-options {
	display: flex;
	flex-direction: column;
	padding:10px;
	list-style: none;
}

.nav-options li {
	padding: 10px 6px;
	font-weight: 500;
	font-family: 'Ubuntu' , sans-serif;
}

.nav-options li a {
	text-decoration: none;
	color: black;
}

.nav-close-button {
	width: 44px;
	height: 44px;
	position: absolute;
	background-color: white;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	right : -44px;
	top:  60px;
	color: black;
	font-weight: 600;
	font-size: 1.4rem;
	text-decoration : none;
	-webkit-box-shadow: 7px 1px 10px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 1px 10px -4px rgba(0,0,0,0.75);
	box-shadow: 7px 1px 10px -4px rgba(0,0,0,0.75);
	border-radius: 0 10px 10px 0;
}


/* Nav Rail */
.nav-rail {
	display: block;
	position: fixed;
	top: 70px;
	left: 0;
	bottom: 0;
	width: max-content;
	background-color: #1e3d58;
	z-index: 10;
	border-top: 2px solid #ffffff;
}

.nav-rail-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.nav-rail-list {
	display: flex;
	flex-direction: column;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.nav-rail-option {
	width: 100%;
	height: max-content;
	padding: 10px 15px;
	font-size: 0.6rem;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	flex-direction: column;
	cursor: pointer;
}

.nav-rail-option:hover {
	background-color:#17adc1;
}

.active-rail {
	background-color: #17adc1;
}

.nav-rail-option i {
	font-size: 1.6rem;
	margin: 6px auto;
}


.color-picker-container {
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 16;
}


.nav-rail-drawer {
	width: 200px;
	height: 100%;
	background-color: white;
	top: 0;
	bottom: 0;
	right: -200px;
	padding: 0;
	position: absolute;
}


.rail-drawer-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: auto;
	overflow-y: scroll;
}


.rail-drawer-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	/*padding: 0 10px;*/
	grid-gap: 10px;
	margin : auto;
}



.rail-drawer-list li {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border : 1px solid black;
	cursor: pointer;
}



/*	App Bar	*/
.app-bar {
	width: 100%;
	height: 70px;
	background-color: #1e3d58;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.app-bar-s1  , .app-bar-s2 {
	padding: 6px;
	display: flex;
	width: max-content;
}


.app-bar-s1 a {
	font-size: 1.6rem;
	font-weight: 600;
	text-decoration: none;
	color: white;
	margin : auto 6px;
	width: 50px;
	justify-content: center;
	align-items: center;
	display: flex;
	outline: none;
}


.app-bar-s1 h1 {
	font-size: 1.6rem;
	font-weight: 600;
	text-decoration: none;
	color: white;
	padding: 0;
	margin : 0;
}

.app-bar-s2 .b1 {
	margin : auto 6px;
	border-radius: 20px;
	padding: 6px 12px;
	border : 2px solid white;
	background-color: white;
	color: #17adc1;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8rem;
}

.app-bar-s2 .b1:hover {
	background-color: #17adc1;
	color: white;
	outline : none;
}

.app-bar-s2 .b1:active {
	outline: none;
}


/* Main Area */
.main-play-area {
	width: 100% !important;
	height: 100% !important;
	display: grid !important;
	grid-template-columns: 300px 1fr;
	padding: 0;
}

.dummy {
	/*width: 100%;*/
	height: 100%;
	display: block;
	height: 200px;
}

.edit-area {
	/*width: 100%;*/
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top :60px;
}

.main-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	padding: 0;
	background-color: red;
}

.app_navbar {
	font-size: 20px;
	height : 30px;
	box-sizing:  border-box;
	transition: all 200ms ease;
}


.tile {
	width: 100%;
	height: max-content;
	display: flex;
	align-content: center;
	align-items: space-between;
	padding: 10px 20px;
	background-color: white;
	text-align:left;
	background-color:  #e8ebee;
	font-size: 1rem;
	font-weight: 500;
	justify-content: space-between;
	font-family: 'Ubuntu' , sans-serif;
}

.tile i {
	float: right;
}



.u-list {
	width: 100%;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 10px;
}

.u-list li {
	width: 100%;
	border: 1px solid  #e8ebee;
	justify-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 10px 2px;
	margin-top: 10px;
	cursor: pointer;
}


.u-list li span.thumbnail {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #17adc1;
	width:100%;
	height: 100%;
	min-height:150px;
}

span.thumbnail img {
	display: block;
	width: 100%;
}

.u-list li span.square {
	background-color:#e8ebee;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #17adc1;
	width:100%;
	height: 100%;
}


.u-list li span.name {
	font-size: 1rem;
	font-weight: 400;
	padding: 6px 0;
	text-align: center;
}

.u-list li span.price {
	font-size: 0.9rem;
	font-weight: 300;
	padding: 1px 0;
	text-align: center;
}

.u-list li:hover {
	border : 1px solid black;
}



.modal {
	position: fixed;
	z-index: 900;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;	
}

.modal-container {
	background-color:transparent;
	width: 100%;
	height: 100%;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
}


.modal-close {
	position: absolute;
	right: 40px;
	top: 20px;
	width: 44px;
	height: 44px;
	font-size: 2rem;
	color: white;
	/*background-color: #6d6f73;*/
	/*padding:10px;*/
	border:2px white solid;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: #17adc1;
	border-radius: 50%;
}

.modal-wrapper {
	/*background-color: white;*/
	display: block;
}

.room-view-content {
	width: 100%;
	display: block;
	position: relative;
}

.room_view_image {
	display: block;
	height: auto;
}

.print_canvas_image {
	position: absolute;
	top: 20px;
	left: 300px;
	width: 200px;
	z-index: 901;
}

/* edit-area */

.edit-container {
	width: 90vw;
	height: 90vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background-color: white;
	border-radius: 10px;
}


.edit-top-bar {

}

#edit-album-title {
	font-weight: 400;
	font-size: 1.5rem;
}


.upload-option-tab {
	width: max-content;
	margin-right: auto;
	margin-left: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	grid-gap: 10px;
	padding: 20px 0;
}

.upload-option {
	display: block;
	padding: 15px 8px;
	width:100%;
	background: #ffffff;
	border: solid 1px #333;
    border-top-color: rgb(51, 51, 51);
    border-right-color: rgb(51, 51, 51);
    border-bottom-color: rgb(51, 51, 51);
    border-left-color: rgb(51, 51, 51);
	text-align: center;
	text-decoration: none;
	color: #333;
	border-radius: 3px;
	margin:0 6px;
}

.upload-option:hover {
	background-color: #17adc1;
	color: white;
	border-color: white;
}

.album-tab {
	display: flex;
	width: max-content;
	/*flex-direction: column;*/
	margin-left: auto;
	justify-content: center;
	align-items: center;
	margin-right: auto;
}

.album-tab h3 {
	margin:0;
	padding: 0px 6px;
	color: #333;
	font-weight: 400;
}


.album-tab input {
	border: solid 1px #333;
	padding: 10px 12px;
	border-radius: 3px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
ul .inner {
  padding: 10px;
  overflow: hidden;
  display: none;
}
ul .inner.show {
  /*display: block;*/
}
ul li {
  margin: 0;
  border-bottom: 1px white solid;
}
ul li a.toggle {
  width: 100%;
  display: block;
  background: #e8ebee;
  color: black;
  padding: 0.75em;
}
ul li a.toggle:hover {
  background: #17adc1;
  color: white;
}



a:active {
	outline: none;
}


.sp-replacer {
	width: 0 !important;
	height: 0!important;
	box-sizing: border-box!important;
	opacity: 0;
}

.selected {
	position: relative;
	border: 1px  solid black !important;
}

.selected::before {
	content: '';
display: block;
position: absolute;
right: 0;
top: 0;
width: 20px;
height: 20px;
background: url("https://www.canvaschamp.in/skin/frontend/default/cptheme1/images/canvasprint-designtool/arrow_selected.jpg") no-repeat scroll 100% 0;
}